html, body {
	background-color: #4793FC;
}

#logo:hover {
  text-decoration: none;
  text-shadow: 0 0 1px #000;
}

#header {
  background: transparent;
}

#cal {
	height: 500px;
}

#display_text {
	height: 50px;
	color: red;
	background: black;
	text-align: right;
	font-size: 40px;
	border-radius: 10px;
}

.cal_btn {
	margin: 5px;
	font-size: 40px;
	text-align: center;
	border: 1px solid black;
	border-radius: 50%;
}

.cal_btn:hover {
	background: #4793D0;
	color: white;
	cursor: pointer;
}

.cal_btn:active {
	background: red;
}

#switch {
  height: 55px;
  background-color: black;
}

